.legal-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legal-content {
    display: flex;
    justify-content: space-between;
}

.legal-info {
    flex: 0 0 30%;
}

strong {
    color: #FFC107;
    font-weight: bold;
}