body {
    background-color: #f8f9fa;
}

.blog-post {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}

.blog-post:hover {
    transform: scale(1.02);
}

.blog-post:hover {
    transform: scale(1.02);
}

.read-more-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
}

.blog-post:hover .read-more-btn {
    display: block;
}

.new-tag {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}